* {
    box-sizing: border-box;
}

body {
    font-size: 100%;    
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-template-areas: "header"
                         "section"
                         "footer"
    ;
    grid-template-columns: 100%;
    /* auto keeps the middle section stable */
    grid-template-rows: 20% auto 38%;
    width: 100vw;
    height: 100vh;
}

header {
    grid-area: header;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 0.5em;
}

section {
    grid-area: section;
    min-height: 355px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    grid-area: footer;
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    color:#46885c;
    font-weight: bold;
    font-size: 1.3em;
}

form {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
}


#sketch-pad {
    border:solid 10px#53755f;
    border-radius: 6px;
    width: 350px;
    height: 350px;
    background-color: white;
    display: grid;
    /* 16 in this case means 16 rows, 16 columns,
     which we could replace dynamically with js ${resolution} maybe 
    grid-template: repeat(16, 1fr) / repeat(16, 1fr);*/ 
}

.pixel{
    border: solid 1px rgb(240, 238, 234);
}


.slider {
    -webkit-appearance: none;
    width:208px;
    height: 25px;
    border-radius: 6px;
    border: solid 1px #53755f;
    margin-right: 1em;
  }
  
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #53755f;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background:#53755f;
    cursor: pointer;
  }

  .submit {
      border: none;
      border-radius: 5px;
      background-color: #53755f;
      padding: 0.6em 0.6em 0.6em 0.6em;
      font-family: 'Lato', sans-serif;
      color: white;
      font-weight: bold;
      font-size: 0.8em;
  }