* {
    box-sizing: border-box;
}

body {
    font-size: 100%;    
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-template-areas: "header"
                         "section"
                         "footer"
    ;
    grid-template-columns: 100%;
    /* auto keeps the middle section stable */
    grid-template-rows: 20% auto 40%;
    width: 100vw;
    height: 100vh;
}

header {
    grid-area: header;
    display: flex;
    align-items: last baseline;
    justify-content: center;
}

section {
    grid-area: section;
    min-height: 355px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
    font-family: 'Lato', sans-serif;
    color:#60A477;
    font-weight: bold;
    font-size: 1.3em;
}

footer > p {
    padding: 0.3em;
}

#sketch-pad {
    border:solid 10px #60A477;
    border-radius: 6px;
    width: 350px;
    height: 350px;
    background-color: white;
    display: grid;
    /* 16 in this case means 16 rows, 16 columns,
     which we could replace dynamically with js ${resolution} maybe 
    grid-template: repeat(16, 1fr) / repeat(16, 1fr);*/ 
}

.pixel{
    border: solid 1px rgb(240, 238, 234);
}


.slider {
    -webkit-appearance: none;
    width: 350px;
    height: 24px;
    border-radius: 6px;
    border: solid 1px #60A477;
    background: #ffffff;
  }
  
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 26px;
    height: 25px;
    background: #60A477;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 26px;
    height: 26px;
    background: #60A477;
    cursor: pointer;
  }